@charset "utf-8";
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul{margin:0;padding:0}

body{font-size:62.5%; font-family: PingFangSC-Light, sans-serif;color:#000;-webkit-text-size-adjust:none;}
fieldset,img{border:0}
input,button{vertical-align:middle; border-radius:0;}
h1,h2,h3,h4,h5,h6{font-family: PingFangSC-Light, sans-serif;font-weight:normal;}
ol,ul,li{list-style:none}
address,em,i{font-style:normal}
a{color:#000;text-decoration:none}
b,strong{  font-weight: 100;  }
.red{border:1px solid #FF0000;  color: #FF0000;  }
/*清除浮动*/
.clearfix:before,.clearfix:after{display: table;line-height: 0;content: "";}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
/* HTML5 */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block;}
audio,canvas,video {display: inline-block;*display:inline;*zoom:1;}
/*@media only screen and (max-device-width :320px){*/
    /*.swiper-slide.slide-adjust{height: 90.66px;}*/
/*}*/
/*@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){*/
    /*.swiper-slide.slide-adjust{height: 109px;}*/
/*}*/
/*@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){*/
    /*.swiper-slide.slide-adjust{height: 122px;}*/
/*}*/
/*@media (min-device-width :360px) and (max-device-width : 374px){*/
    /*.swiper-slide.slide-adjust{height: 104px;}*/
/*}*/
/*@media (min-device-width :480px) and (max-device-width : 640px){
    .swiper-slide.slide-adjust{height: 122px;}
}
@media (min-device-width :640px) and (max-device-width : 960px){
    .swiper-slide.slide-adjust{height: 122px;}
}*/

.header-z{background: #fff;}
.header-z a{color: #666;}
.header-z h1{font-size: 0.9rem;  color: #333;}


/*homePage*/
.home-title{background: #fff;margin-top: 0.8rem;height: 2.7rem;}
.home-title .home-titleLeft{font-size: 0.9rem;padding-left: 4%; line-height: 2.7rem;color: #333;}
.home-title .home-titleRight{text-align: right;font-size: 0.8rem;padding-right: 4%;line-height: 2.7rem;color: #666;}

.bar-tab .tab-item.item-adjust{height: 4.4rem;     background: #fff;}
.bar-tab .tab-item .icon{margin-bottom: 0.6rem;}
.bar-tab .item-adjust .icon img{width: 1.5rem; height: 1.5rem;}
.bar-tab .tab-item .icon.icon-adjust{    height: 1.6rem;  font-size: 1.4rem;  line-height: 1.2rem;}
.bar-tab .tab-item .icon~.tab-label.label-adjust{font-size: 0.65rem; color: #666;}

.search-box{padding: 0 0.75rem; margin:0 1.5rem; background: #fff; display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex; border-bottom: 1px solid #efefef;    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;}
.search-box_l{font-size: 0.75rem;  color: #999; width: 85%}
.search-box_l input{padding: 0.8rem 0; border: 0; width: 100%}
.search-box_r{font-size: 0.65rem;  color: #999;    width: 15%;  padding: 0.8rem 0;}

/*.swiper-slide.slide-adjust{height: 120px;background: #fff;}*/
.price-wrap{opacity: 0.8;
    left: 0.3rem;
    background: #333;
    width: 2rem;
    height: 2rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    line-height: 1.8rem;
    font-size: 0.8rem;
    color: #fff;
    margin-top: -2.3rem;}
.price-wrap span{    font-size: xx-small;}
.about{ font-size: 0.68rem;
    width: inherit;
    text-align: center;
    color: #333;
    margin-top: 0.3rem;
    text-align: left;}

.recommend-wrap{margin-bottom: 3rem;}
.recommend-details{ margin-bottom: 0.3rem;}
.showImg-wrap{width: 100%;  text-align: center;  background: #fff;padding-top: 0.8rem;}
.showImg-wrap img{    width: 92%;  height: 187px;}
.show-introduce{    font-size: 0.8rem;  color: #333333;  padding-top: 0.8rem;  background: #fff;  text-align: left;  padding-left: 4%;  overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;}
.show-introduce2{    font-size: 0.7rem;  color: #666;  background: #fff;  text-align: left; overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap; padding: 0.4rem 0.75rem 0.75rem;}
.show-introduce3{color: #666;    background: #Fff;  padding: 0 0.75rem 0.8rem 0.75rem; }
.show-introduce3 i{    color: #FA725A;  font-size: 1.1rem;}
.show-introduce3 span{text-decoration:line-through;color: #999;}
.show-introduce3 a{    background: #FA725A;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;  color: #fff;  padding: 0.3rem 0.5rem;  font-size: 0.7rem;}

/*orderDetail*/
.page, .page-group{background: #efefef;}

.message-wrap{  margin-bottom: 0.4rem;  padding: 0.8rem 0.75rem; background: #Fff; font-size: 0.75rem;  color: #333333;  line-height: 20px;}
.message{padding-bottom: 0.4rem;display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;}
.message .message_s{width: 25%;text-align: left;}
.message .message_n{width: 35%;text-align: left;}
.message .message_p{width: 40%;text-align: right; word-break: break-all;}
.address{display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;color: #666;}
.address .address_s{width: 25%;}
.address .address_d{width: 75%;}
.order-wrap{margin-bottom: 0.4rem;background: #Fff;font-size: 0.75rem;  color: #666;  line-height: 20px; border-bottom: 1px solid #efefef;}
.order{display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex; padding: 0.65rem 0.75rem;border-bottom:2px solid #efefef;background: #Fff;}
.order .oreder_b{width: 30%}
.order .oreder_h{width: 40%; overflow: hidden; text-overflow: ellipsis}
.order .oreder_s{width: 30%;text-align:right;color: #75C346;}
.order .oreder_c{width: 30%;text-align:right;color: #666;}
.order .oreder_y{width: 30%;text-align:right;color: #FBA72B;}
.order-detail{display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;padding: 0.8rem 0.75rem 0.8rem 0.75rem;background: #fff;}
.order-detailLeft{
    -prefix-box-flex: 0.3;
    -webkit-box-flex: 0.3;
    -webkit-flex: 0.3;
    -moz-box-flex: 0.3;
    -ms-flex: 0.3;
    flex: 0.3;}
.order-detailLeft img{    width: 3.9rem;  height: 3.9rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;}
.order-detailRight{
    -prefix-box-flex: 0.7;
    -webkit-box-flex: 0.7;
    -webkit-flex: 0.7;
    -moz-box-flex: 0.7;
    -ms-flex: 0.7;
    flex: 0.7;overflow: hidden;}
.detailRight_f{display: flex}
.detailRight_f .f_left{-prefix-box-flex: 0.7;
    -webkit-box-flex: 0.7;
    -webkit-flex: 0.7;
    -moz-box-flex: 0.7;
    -ms-flex: 0.7;
    flex: 0.7;    overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;}
.detailRight_f .f_left_c{-prefix-box-flex: 0.7;
    -webkit-box-flex: 0.7;
    -webkit-flex: 0.7;
    -moz-box-flex: 0.7;
    -ms-flex: 0.7;
    flex: 0.7;line-height: 0.9rem;font-size: 0.65rem;  color: #666;}
.detailRight_f .f_right{-prefix-box-flex: 0.3;
    -webkit-box-flex: 0.3;
    -webkit-flex: 0.3;
    -moz-box-flex: 0.3;
    -ms-flex: 0.3;
    flex: 0.3;   text-align: right;}
.detailRight_s{    border: 1px solid #98D5E6;  -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;   width: 4.1rem;  text-align: center;  font-size: 0.65rem;  color: #98D5E6;  line-height: 1.2rem; height: 1.2rem;  float: right;}
.order-wrap2{margin-bottom: 0.4rem;}
.order-wrap2_c{display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;background: #fff;padding: 0.75rem 0.75rem;border-bottom: 1px solid #efefef;}
.wrap2_left{
    -prefix-box-flex: 0.5;
    -webkit-box-flex: 0.5;
    -webkit-flex: 0.5;
    -moz-box-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5;font-size: 0.75rem;  color: #333;}
.wrap2_left2{font-size: 0.7rem;  color: #999;}
.wrap2_right{-prefix-box-flex: 0.5;
    -webkit-box-flex: 0.5;
    -webkit-flex: 0.5;
    -moz-box-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5;text-align: right;font-size: 0.75rem;  color: #FA725A;}
.wrap2_right2{  font-size: 0.7rem;  color: #333;}
.order-wrap3{background: #fff;padding: 0.4rem 0.75rem;margin-bottom: 0.4rem;}
.wrap3-row{padding: 0.4rem 0;font-size: 0.65rem;  color: #666;}
.wrap3-left{display: inline-block;vertical-align: top;}
.wrap3-right{display: inline-block;vertical-align: top;}
.order-package{padding: 0.8rem 0; text-align: center;background: #FFF;font-size: 0.8rem;  color: #333;  letter-spacing: 0.1px;border-bottom: 1px solid #efefef;}

.package-detail{padding: 0.8rem 0.75rem; background: #fff; display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;border-bottom: 1px solid #efefef;}
.package-detailLeft{width: 5rem;  height: 5rem;  position: relative;margin-right: 0.4rem;}
.package-detailLeft img{    width: 5rem;  height: 5rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    border-radius: 0.25rem;}
.detailLeft-font{    position: absolute;  bottom: 0;  right: 0;font-size:0.55rem;  color: #fff;background: linear-gradient(17deg, rgba(0,0,0,0.00) 0%, rgba(37,37,37,0.73) 75%, #333333 100%);  width: 100%;  text-align: right;}
.package-detailRight{ padding-top: 0.4rem; padding-left: 0.8rem;overflow: hidden}
.detailRight-row{font-size:0.75rem;  color: #333;    height: 1rem;  margin-bottom: 0.4rem;overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis;}
.detailRight-row2{font-size: 0.65rem;  color: #999;    height: 0.9rem;  margin-bottom: 0.8rem;overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis;}
.detailRight-row3{color: #999; display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;}
.detailRight-row3Left{
    -prefix-box-flex: 2;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -moz-box-flex: 2;
    -ms-flex: 2;
    flex: 2;}
.detailRight-row3 em{font-size: 0.6rem;  color: #999;}
.detailRight-row3 i{font-size: 1.1rem;  color: #FA725A;}
.detailRight-row3 i>b{font-size: xx-small;  color: #FA725A;}
.group{-prefix-box-flex: 1;
-webkit-box-flex: 1;
-webkit-flex: 1;
-moz-box-flex: 1;
-ms-flex: 1;
flex: 1;; margin-left: 0.5rem;   background: #FA725A;  -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;   width: 4.6rem;  text-align: center;  color: #fff; height: 1.3rem;  line-height: 1.3rem;}

/*orderDetail2 （根据orderDetail代码）*/
.order_yn{    padding: 0.8rem 0.75rem;}
.order_ynLeft{    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex; float: left;}
.order_ynRight{    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;}
.order-time{  line-height: 1.5rem;}
.order-timeDetail{ line-height: 1.5rem;}
.order_w{  font-size:0.65rem;  color: #999;  width: 3.8rem;  height: 1.5rem;  border: 1px solid #999;  text-align: center;  line-height: 1.5rem;  -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
.popup-row{font-size: 0.7rem;  color: #999;padding: 0.8rem 1.05rem;line-height: 1rem;}
.pay-wrap{    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;  padding: 0.54rem 1.05rem;     border-bottom: 1px solid #efefef;}
.pay-wrap img{   width: 1.8rem;  height: 1.8rem;}
.pay-wrap p{    line-height: 1.8rem;  margin-left: 0.6rem;  font-size: 0.75rem;  color: #333;
    -prefix-box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex:1;}
.pay-wrap img.kou{    width: 1.8rem;  height: 1.6rem; display: none;}
.pay-wrap img.kou2{    width: 1rem;  height: 0.8rem;}
.invoice-wrap{    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;  padding: 0.54rem 1.05rem;     border-bottom: 1px solid #efefef;}
.invoice-wrap img{   width: 1.8rem;  height: 1.8rem;}
.invoice-wrap p{    line-height: 1.8rem;  margin-left: 0.6rem;  font-size: 0.75rem;  color: #333;-prefix-box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex:1;}
.invoice-wrap img.kou{    width: 1.8rem;  height: 1.6rem; display: none;}
.invoice-wrap img.kou2{    width: 1rem;  height: 0.8rem;}
.popup-footer{display: block; font-size: 0.85rem;  color: #FFFFFF;  background: #4C4C4C;  height: 2rem;  line-height: 2rem;  text-align: center;  margin: 0 0.4rem 0.8rem 0.4rem;  position: absolute;  bottom: 0;  right: 0;  left: 0;}

/*itemDetail*/
.head-img{    width: 100%;  height: 10.55rem;}
.head-img img{    width: 100%;  height: 10.55rem;}
.item-detail_m1{padding-top: 0.6rem;  background: #fff; margin-bottom: 0.4rem}
.m-row{    font-size: 0.8rem;  color: #333;  padding: 0.2rem 0.75rem;  overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;}
.m-row2{    font-size: 0.7rem;  color: #999;  padding: 0.2rem 0.75rem; }
.item-count{    font-size: 0.6rem;  color: #666;}
.item-detail_m2{    padding: 0.8rem 0.75rem;  background: #fff;}
.m2-rowLeft{    font-size: 0.75rem;  color: #333;}
.m2-rowRight{font-size: 0.65rem;  color: #51A3CC;  text-align: right;  display: block;}
.m2-row2{font-size: 0.65rem;  color: #666;  line-height: 0.9rem;margin-top: 0.5rem;}
.item-detail_m3{padding: 0.5rem 0.75rem;  background: #efefef;  font-size: 0.65rem;  color: #51A3CC;  display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;  -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;  -webkit--webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap:wrap;;
-moz--webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap:wrap;;
-ms--webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap:wrap;;
-o--webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap:wrap;;
flex-wrap:wrap;;}
.row-change{font-size: 0.65rem;  color: #666;  line-height: 0.9rem;padding:0.8rem 0.75rem; background: #fff;    border: 1px solid #efefef;}
.row-change2{font-size: 0.75rem;  color: #333;  line-height: 0.9rem;padding:0.8rem 0.75rem; background: #fff;    border: 1px solid #efefef;}
.item-detail_m4{    padding: 0.8rem 0.75rem;  background: #fff;display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;border-bottom: 1px solid #efefef;}
.item-detail_m4-wrap{margin-bottom: 0.4rem;}
.m4-rowLeft{
    -prefix-box-flex: 0.3;
    -webkit-box-flex: 0.3;
    -webkit-flex: 0.3;
    -moz-box-flex: 0.3;
    -ms-flex: 0.3;
    flex: 0.3}
.m4-rowLeft img{    width: 2.9rem;  height: 2.9rem;  border: 2px solid #7DC71B;  -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;}
.m4-rowRight{
    -prefix-box-flex: 0.7;
    -webkit-box-flex: 0.7;
    -webkit-flex: 0.7;
    -moz-box-flex: 0.7;
    -ms-flex: 0.7;
    flex: 0.7;padding: 0.3rem 0;}
.m4-rowR1{display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;  -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;}
.m4-rowR1_Left{    font-size:0.75rem;  color: #333;}
.m4-rowR1_Right{font-size: 0.6rem;  color: #999;  line-height: 0.85rem;}
.m4-rowR2{display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;  -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items:flex-start;
    -moz-align-items:flex-start;
    -ms-align-items:flex-start;
    -o-align-items:flex-start;
    align-items: flex-start;    margin-top: 0.2rem;}
.m4-rowR2_Left{    font-size: 0.65rem;  color: #666;  line-height: 0.9rem;}
.m4-rowR2_Left em{margin-left: 0.2rem;}
.m4-rowR2_Right{font-size: 0.6rem;  color: #999;  line-height: 0.85rem;}
.show-img{padding: 0.8rem 0.75rem;background: #Fff;margin-bottom: 6rem;}
.show-img img{width:100%;height: 30.45rem;display: inherit;height: auto;}

.footer{    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;  border-top: 1px solid #efefef;  position: absolute;  left: 0;  right: 0;bottom: 0;}
.footer-col{    -prefix-box-flex: 1;
-webkit-box-flex: 1;
-webkit-flex: 1;
-moz-box-flex: 1;
-ms-flex: 1;
flex: 1;;  padding: 0.7rem 0;background: #F9F9F9;}
.footer-col img:first-child{width: 1.1rem;  height: 1.1rem;  margin-left: 0.75rem;}
.footer-col img:last-child{    width: 1.2rem;  height: 1.1rem;  margin-left: 1.5rem;}
.footer-col2{background: #fff;  -prefix-box-flex: 1;
-webkit-box-flex: 1;
-webkit-flex: 1;
-moz-box-flex: 1;
-ms-flex: 1;
flex: 1;;  text-align: center;  line-height: 1rem;  padding: 0.25rem 0;}
.col2_t{font-size: 0.9rem;  color: #999;}
.col2_b{font-size: 0.6rem;  color: #3F3F3F;}
.footer-col3{    -prefix-box-flex: 1;
-webkit-box-flex: 1;
-webkit-flex: 1;
-moz-box-flex: 1;
-ms-flex: 1;
flex: 1;;  background: #4C4C4C;  color: #fff;  text-align: center;  line-height: 1rem;  padding: 0.25rem 0;}
.col3_t{font-size: 0.9rem;  color: #fff;}
.col3_b{font-size: 0.6rem;  color: #fff;}
.close-change{font-size: 1.2rem;  line-height: 1.4rem;  height: 1.4rem;  padding-right: 0.75rem;  text-align: right;}
.item-introduce{font-size: 0.65rem;  color: #666; line-height: 0.9rem;}
.standard{display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;  -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;  padding: 0.8rem 0.75rem;}
.standard-left{font-size: 0.65rem;  color: #333;
    -prefix-box-flex: 0.3;
    -webkit-box-flex: 0.3;
    -webkit-flex: 0.3;
    -moz-box-flex: 0.3;
    -ms-flex: 0.3;
    flex: 0.3;line-height: 1.1rem;}
.standard-right{    -webkit--webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap:wrap;;
-moz--webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap:wrap;;
-ms--webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap:wrap;;
-o--webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap:wrap;;
flex-wrap:wrap;;  display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;

    -prefix-box-flex: 0.7;
    -webkit-box-flex: 0.7;
    -webkit-flex: 0.7;
    -moz-box-flex: 0.7;
    -ms-flex: 0.7;
    flex: 0.7;}
.standard_w{margin-right: 0.5rem;  margin-bottom: 0.5rem;border: 1px solid #51A3CC;  -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;  line-height: 1.1rem;  font-size: 0.65rem; padding: 0.1rem 0.5rem; color: #51A3CC;  letter-spacing: 0.1px;text-align: left;}

/*itemDetail_pay*/
.detailLeft-top{    font-size: 0.75rem;  color: #333;  line-height: 1rem;  margin-bottom: 0.5rem;}
.detailLeft-bottom{    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;   border: 1px solid #51A3CC;  width: 2rem;  height: 1.1rem;  color: #51A3CC;  text-align: center;  line-height: 1.1rem;}
.pay-row{display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;-webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;font-size: 0.75rem;padding: 0.8rem 0.75rem;background: #fff;margin-bottom: 0.4rem}
.pay-row_l{ color: #333;}
.pay-row_r{ color: #51A3CC;}
.pay-row2{font-size: 0.75rem;  color: #333;padding: 0.8rem 0.75rem;background: #Fff;  border:1px solid #efefef;}
.leave{padding-top: 0.4rem; width: 100%;  text-indent: 0.75rem;  height: 6.5rem;  overflow-y: scroll;  line-height: 0.9rem;  font-size: 0.65rem;  color: #999;  border: 0;background: #F9F9F9;}
.order-detail_c{border-bottom: 1px solid #efefef;background: #fff;margin-bottom: 0.4rem;}
.pay-row2-wrap{ background: #fff;  padding-bottom: 0.75rem;  margin-bottom: 0.4rem;}
.pay-row3{display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;-webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;font-size: 0.75rem;padding: 0.8rem 0.75rem;background: #fff;border-bottom: 1px solid #efefef;}
.pay-row3_l{ color: #333;}
.pay-row3_r{ color: #51A3CC;}
.pay-footer{     background: #fff;   display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;  border-top: 1px solid #efefef;  position: fixed;  left: 0;  right: 0;  bottom: 0;
    -webkit-align-items:center;
    -moz-align-items:center;
    -ms-align-items:center;
    -o-align-items:center;
    align-items: center;}
.pay-footer-col1{-prefix-box-flex: 1;
-webkit-box-flex: 1;
-webkit-flex: 1;
-moz-box-flex: 1;
-ms-flex: 1;
flex: 1;;background: #fff;padding-left: 0.75rem;}
.pay-footer-col1 img{    width: 1.1rem;  height: 1.1rem;  margin: 0.7rem 0;}
.pay-footer-col2{-prefix-box-flex: 1;
-webkit-box-flex: 1;
-webkit-flex: 1;
-moz-box-flex: 1;
-ms-flex: 1;
flex: 1;;background: #fff;font-size: 0.8rem;  color: #333; }
.pay-footer-col2 em{font-size: 0.75rem;  color: #FA725A;  letter-spacing: 0;  line-height: 1rem; background: #fff;}
.pay-footer-col3{-prefix-box-flex: 1;
-webkit-box-flex: 1;
-webkit-flex: 1;
-moz-box-flex: 1;
-ms-flex: 1;
flex: 1;;background: #4C4C4C;text-align:  center;color: #fff;font-size: 0.8rem;    line-height: 2.65rem;}

.pay-font_w{display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;  }
.pay-font{}

/*invoiceBlank*/
.invoice-row{  border-bottom: 1px solid #efefef;   display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;  padding: 0.65rem 0.75rem;  background: #FFf;  font-size: 0.7rem;  color: #666;}
.invoice-row2{    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;  -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;  padding: 0.65rem 0.75rem;  background: #Fff;}
.invoice-row2_l{font-size: 14px;  color: #666;}
.invoice-row2_r{    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;  font-size: 0.7rem;  color: #999;}
.invoice-row_l{
    -prefix-box-flex:0.3;
    -webkit-box-flex: 0.3;
    -webkit-flex: 0.3;
    -moz-box-flex: 0.3;
    -ms-flex: 0.3;
    flex: 0.3;  font-size: 0.7rem;  color: #333;}
.invoice-row_r{

    -prefix-box-flex: 0.7;
    -webkit-box-flex: 0.7;
    -webkit-flex: 0.7;
    -moz-box-flex: 0.7;
    -ms-flex: 0.7;  flex: 0.7;   font-size: 0.7rem;  color: #666; text-align: right;}
.invoice-footer{    height: 1.9rem;  color: #fff;  text-align: center;  line-height: 1.9rem;  background: #4C4C4C;  -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;   margin: 0 0.4rem;  margin-top: 3.2rem;  font-size: 0.75rem;}
.row2_r img{display: inline-block;  vertical-align: top;  margin-left: 0.8rem;}
.row2_r em{    display: inline-block;  vertical-align: top;}


/*successResult*/
.success-head{text-align: center;background: #F0F7FA;    padding: 1.85rem 0;}
.success-head img{    width: 2.95rem;  height: 2.95rem;  margin-bottom: 0.8rem;}
.success-head p{  font-size: 1rem;  color: #999;  letter-spacing: 0.1px;}
.success-row{    text-align: center;padding: 0.8rem 0; background: #Fff;display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex; -webkit--webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap:wrap;;
-moz--webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap:wrap;;
-ms--webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap:wrap;;
-o--webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap:wrap;;
flex-wrap:wrap;;}
.success-wrap{padding: 0 1.6rem;  background: #fff;  }
.icon-wrap{position: relative;    width: 2.75rem;  margin: auto;  display: inline-block;vertical-align: top;}
.icon-wrap img{    width: 2.75rem;  height: 2.75rem;  border: 2px solid #7DC71B;  -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;}
.icon-wrap p{ font-size: 0.65rem; color: #666;  line-height: 0.75rem;  word-wrap: break-word;  text-overflow: ellipsis;  overflow: hidden;  white-space: nowrap;}
.success-row2{padding-bottom: 0.8rem;  font-size: 0.75rem;  color: #999;  letter-spacing: 0;  line-height: 1.5rem;    width: 12.5rem;  text-align: center;  margin: auto;}
.success-row3{font-size: 1.4rem;  color: #42AE03; text-align: center;background: #F0F0F0;padding: 1.2rem 0;}

/*personal*/
.personal-wrap{    background: #FA725A;  padding: 1.9rem 0;  margin: auto;  text-align: center;}
.personal-icon{    width: 3.5rem;  height: 3.5rem;  margin: auto;  margin-bottom: 0.8rem;}
.personal-icon img{    width: 3.5rem;  height: 3.5rem ;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;    }
.personal-row{    font-size: 0.7rem;  color: #FFF;  margin-bottom: 0.4rem;}
.personal-row2{    background: #333;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;  width: 3.4rem;  margin: auto;  height: 1rem;  line-height: 1rem;  color: #fff;  font-size: 0.6rem;}
.personal-mod{background: #fff;padding: 0.8rem 0.75rem;  display: block;border-bottom: 1px solid #efefef;}
.personal-mod2{margin-bottom: 3rem;}
.mod-left{font-size: 0.75rem;  color: #333;}
.mod-right{text-align: right}
.mod-right img{width: 0.45rem;height: 0.8rem;}
.bar-change{position: relative;  padding: 0.6rem 0;  height: initial;background: #Fff;margin-bottom: 0.4rem;}
.bar-change span{display: block;margin-bottom: 0.3rem;    font-size: 0.65rem;  color: #666;}
.footer-bar{background: #F9F9F9; }
.footer-bar span{display: block;  font-size: 14px;  line-height: 1rem;  color: #333;}

.tab-item.external span img:nth-child(2){display: none}

/*弹出登录*/
.login-row{    margin-top: 60%;  padding: 0 0.75rem;  }
.login-input{    font-size: 0.8rem; color: #666;  background: #F9F9F9; margin-bottom: 0.8rem;}
.login-input input{    width: 100%;  padding: 0.775rem 0.75rem;  background: #F9F9F9;  border: 0;}
.login-row2{font-size: 0.7rem; display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;-webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between; padding: 0 0.75rem;}
.row2-left{color: #999;display: block;}
.row2-right{color: #CCC;display: block;}

.code-wrap{
    -prefix-box-flex: 0.4;
    -webkit-box-flex: 0.4;
    -webkit-flex: 0.4;
    -moz-box-flex: 0.4;
    -ms-flex: 0.4;
    flex: 0.4;  padding: 0.7rem 0;  background: #fff;  text-align: center; }

/*profile*/
.profile-row{padding: 0.8rem 0.75rem; display: block; background: #fff;margin-top: 0.4rem;border-bottom: 1px solid #efefef;}
.profile-row_l img{width: 3.5rem;height: 3.5rem;}
.profile-row_r{text-align: right;line-height: 3.5rem;}
.img-before{display: inline-block;vertical-align: top;font-size: 0.75rem;  color: #999;}
.profile-row_r img{display: inline-block;vertical-align: sub;width: 0.45rem;height: 0.8rem;margin-left: 0.4rem;}

.profile-row2{padding: 0.8rem 0.75rem; display: block; background: #fff;border-bottom: 1px solid #efefef;}
.profile-row_l2{font-size: 0.75rem;  color: #333;}
.profile-row_r2{text-align: right;}
.profile-row_r2 img{display: inline-block;vertical-align: sub;width: 0.45rem;height: 0.8rem;margin-left: 0.4rem;}
.profile-footer{background: #FA725A;  -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; font-size: 0.85rem;  color: #FFF;  letter-spacing: 0.1px; text-align: center;position: absolute;bottom: 0;left: 0;right: 0;height: 2rem;line-height: 2rem;margin: 0 0.4rem 0.87rem 0.4rem;}

/*address*/
.address-footer{background: #4C4C4C;  -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; font-size: 0.85rem;  color: #FFF;  letter-spacing: 0.1px; text-align: center;height: 2rem;line-height: 2rem;margin: 3rem 0.4rem 0.87rem 0.4rem;}
.f_right img{    width: 1rem;  height: 0.9rem;}

/*service*/
.detailRight_f2{    font-size: 0.65rem;  color: #666;  line-height: 1rem;}
.detailRight_f2 em{    color: #FA735A;}
.service-row{padding: 0 0.75rem 0.8rem 0.75rem;background: #Fff;border-bottom:1px solid #efefef; }
.service-title{background: #Fff; padding: 0.8rem 0 0.4rem 0;font-size: 0.75rem;  color: #333;}
.service-content{    background: #F9F9F9;  padding-right: 0.75rem;}
.service-content input{width: 100%; padding: 0.4rem 0.75rem;font-size: 0.65rem;  color: #000;border: 0;background: url("../img/jiantou.png") no-repeat; background-position: right;    background-size: 5%;}
.service-content2{}
.service-content2 textarea{    text-indent: 0.75rem;  padding-top: 0.4rem;    width: 100%;  border: 0;  background: #f9f9f9;  height: 4rem;  font-size: 0.65rem;  line-height: 0.9rem;  letter-spacing: 0.5px;  color: #000;}
.service-content3{font-size: 0.65rem;  color: #999;padding-top: 0.4rem;    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;  -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;}



/*serviceResult*/
.service-header{background: #fff;padding: 0.8rem 0; text-align: center;margin:  auto; margin-bottom: 0.4rem;}
.service-header_h{margin-bottom:0.8rem;}
.service-header_h img{width: 2.95rem;height: 2.95rem;}
.service-header_h2{font-size: 15px;  color: #333;  letter-spacing: 0;  line-height: 1rem;margin-bottom: 1.45rem;}
.service-header_h3{display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;    padding: 0 1rem;}
.h3-left{  -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; border: 1px solid #C1E1E6;font-size: 0.65rem; height: 1.3rem; width: 5.1rem; line-height: 1.3rem; text-align: center; color: #8FAEB3;  }
.service-detail{padding: 0.375rem 0.75rem; background: #fff; font-size: 0.65rem; line-height: 0.9rem;}
.service-detail_l{display: inline-block;vertical-align: middle; color: #999;  letter-spacing: 0; width: 32% }
.service-detail_r{display: inline-block;vertical-align: middle; color: #666; width: 66%;}
.service-wrap{padding-bottom: 3rem;  background: #fff;  border-top: 1px solid #efefef;}

/*expressPayment*/
.expressPayment-row{font-size: 0.75rem;  color: #999;text-align: center;  margin-top: -0.4rem;}
.expressPayment-row em{font-size: 0.75rem;color: #42AE03; margin-left: 0.4rem;}
.expressPayment-row2{     margin: 1.6rem auto 0.8rem auto; width: 6.75rem;height: 1.95rem;line-height: 1.95rem;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px; font-size: 0.75rem;color: #fff;text-align: center;background:#FA725A; }
.expressPayment-row3{font-size: 0.65rem;  color: #51A3CC;text-align: center;  display: block;}

/*itemlist*/
.itemlist-row{padding: 0.8rem 0.75rem;background: #fff; border: 1px solid #efefef;}
.itemlist-row_l{font-size: 0.75rem;  color: #333;  }
.itemlist-row_r{font-size: 0.65rem;  color: #666; text-align: right;}
.itemlist-row_r em{  margin: 0 0.4rem;}

/*serviceProgress*/
.progress-row{padding: 0.8rem 0.75rem;font-size: 0.65rem;  color: #666;background: #Fff;border-bottom: 1px solid #efefef;}
.progress-row_l{text-align: left}
.progress-row_r{text-align: right}
.progress-row_r em{color: #FBA72B}
.progress-mod{background: #fff;padding:0 0.75rem 0.8rem 0.75rem;margin-bottom: 0.4rem;}
.progress-row2{text-align: right;font-size: 0.65rem;  color: #333;padding: 0.4rem 0;}
.progress-row2 em{margin: 0 0.2rem;}
.progress-row2 i{color: #FA725A;}
.progress-row3{text-align: right;}
.row3-mod{ display: inline-block;vertical-align: middle; color: #999;  -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; font-size: 0.65rem; width: 3.8rem;height: 1.5rem; line-height: 1.5rem; text-align: center;  border:1px solid #999;}
.row3-mod_r{margin-left: 0.8rem;}


/*invoiceDisable*/
.disable-row{ margin-bottom: 0.4rem;  background: #fff;padding: 0 0.75rem;font-size: 0.7rem;  color: #666;    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;  -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;}
.disable-left{font-size: 0.7rem;  color: #666;}
.disable-right{-prefix-box-flex: 1;
-webkit-box-flex: 1;
-webkit-flex: 1;
-moz-box-flex: 1;
-ms-flex: 1;
flex: 1;;}
.disable-right input{width: 100%;border: 0;background: url("../img/jiantou.png") no-repeat; background-position: right;padding: 0.8rem;background-size: 14px 7px;}
.right2_l-img img{width: 15px;height: 15px;}

.disable-row2{margin-bottom: 0.4rem;

    -webkit-align-items:center;
    -moz-align-items:center;
    -ms-align-items:center;
    -o-align-items:center;
    align-items: center; background: #fff;padding: 0 0.75rem;font-size: 0.7rem;  color: #666;display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;  -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;}
.disable-right2{display: flex}
.disable-right2_l{display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;padding: 0.8rem 0;}
.right2_l-img{margin:0 0.3rem 0 0.6rem;}
.right2_l-img img:nth-child(2){display: none;}

.disable-row3{padding: 0 0.75rem; display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex; -webkit-align-items:center;
    -moz-align-items:center;
    -ms-align-items:center;
    -o-align-items:center;
    align-items: center;  background: #fff;font-size: 0.7rem;  color: #333;}
.disable-left3{width: 30%;}
.disable-right3{    -prefix-box-flex: 1;
-webkit-box-flex: 1;
-webkit-flex: 1;
-moz-box-flex: 1;
-ms-flex: 1;
flex: 1;;width: 60%;}
.disable-right3 input{ padding: 0.8rem 0;    width: 100%;  text-align: right;border: 0;}

/*itemAddAddress */
.addAddress-row{width: 100%;border-bottom: 1px solid #efefef;}
.addAddress-row input{width: 100%; padding: 0.65rem 0.75rem;font-size: 0.7rem;  color: #999;border: 0;}
.default{ display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;padding: 1.6rem 0 0.8rem 0; display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
display: flex;  -webkit-justify-content: center;
-moz-justify-content: center;
-ms-justify-content: center;
-o-justify-content: center;
justify-content: center;  background: #fff; }
/*.default img{margin-right: 0.4rem;}*/
.default-font{font-size: 0.65rem;  color: #999;background: url("/static/front/img/noActive.png") no-repeat;background-position: left;    padding-left: 1rem;background-size:contain}


/*catagory*/
.find_nav {  width: 100%;  height: 2rem;  background-color: #fff;  top: 0;  z-index: 9999;  border-bottom: 1px solid #ddd;  display: -moz-box;  display: -webkit-box;  display: box;  margin-bottom: 0.4rem;  }
.find_nav_left {  height: 2rem;  position: relative;  overflow: hidden;  -moz-box-flex: 1;  -webkit-box-flex: 1;  box-flex: 1;  }
.find_nav_list {  position: absolute;  left: 0;  }
.find_nav_list ul {  position: relative;  white-space: nowrap;  font-size: 0;  }
.find_nav_list ul li {  display: inline-block;  padding: 0;  margin:0 1rem;  }
.find_nav_list ul li a {  display: block;  width: 100%;  height: 100%;  line-height: 2rem;  font-size: 0.75rem;  text-align: center;  color: #666;  }
.find_nav_cur a {  color: #333 !important;  }
.find_nav_list a.active{ color:#C00}
.sideline {  display: block;  position: absolute;  border: 0;  height: 2px;  background-color: #FA725A;  left: 0;  top: 1.9rem;  pointer-events: none;  }
.li_list{overflow-y:auto; display:table;}/*将每个li封闭成一个盒子，就可以独立每个li内的内容*/
.li_list span{ display:block; height:300px; overflow:hidden; background:rgba(255,255,255,.2); color:#fff; margin:0 0 20px; font-size:55px; line-height:300px; text-align:center}
.package-detail:last-child{margin-bottom: 4rem;}


.content-block{margin:0;  padding:0;margin-bottom: 3rem;}
.buttons-tab .button.active{color: #FA725A;    border-color: #FA725A;}


.tab-item:first-child>span>img{width: 23px;height: 23px}
.tab-item:nth-child(2)>span>img{width: 23px;height: 23px}
.tab-item:nth-child(3)>span>img{width: 23px;height: 22px}
.tab-item:last-child>span>img{width: 27px;height: 22px}


/*checkorder*/
.right-10px{margin-right: 10px;}