<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.primary.mapper.PermissionMapper" >
  <resultMap id="BaseResultMap" type="com.shop.primary.entity.Permission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
    <result column="permission_sign" property="permissionSign" jdbcType="VARCHAR" />
    <result column="sort_id" property="sortId" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="last_update_user_id" property="lastUpdateUserId" jdbcType="INTEGER" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" typeHandler="org.apache.ibatis.type.InstantTypeHandler" />
    <result column="last_update_datetime" property="lastUpdateDatetime" jdbcType="TIMESTAMP" typeHandler="org.apache.ibatis.type.InstantTypeHandler" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.createDatetimeCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=org.apache.ibatis.type.InstantTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=org.apache.ibatis.type.InstantTypeHandler} and #{criterion.secondValue,typeHandler=org.apache.ibatis.type.InstantTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=org.apache.ibatis.type.InstantTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.lastUpdateDatetimeCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=org.apache.ibatis.type.InstantTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=org.apache.ibatis.type.InstantTypeHandler} and #{criterion.secondValue,typeHandler=org.apache.ibatis.type.InstantTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=org.apache.ibatis.type.InstantTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.createDatetimeCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=org.apache.ibatis.type.InstantTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=org.apache.ibatis.type.InstantTypeHandler} and #{criterion.secondValue,typeHandler=org.apache.ibatis.type.InstantTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=org.apache.ibatis.type.InstantTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.lastUpdateDatetimeCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=org.apache.ibatis.type.InstantTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=org.apache.ibatis.type.InstantTypeHandler} and #{criterion.secondValue,typeHandler=org.apache.ibatis.type.InstantTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=org.apache.ibatis.type.InstantTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, description, permission_name, permission_sign, sort_id, version, create_user_id, 
    last_update_user_id, create_datetime, last_update_datetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shop.primary.entity.PermissionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ky_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ky_permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ky_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shop.primary.entity.PermissionExample" >
    delete from ky_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shop.primary.entity.Permission" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ky_permission (description, permission_name, permission_sign, 
      sort_id, version, create_user_id, 
      last_update_user_id, create_datetime, 
      last_update_datetime
      )
    values (#{description,jdbcType=VARCHAR}, #{permissionName,jdbcType=VARCHAR}, #{permissionSign,jdbcType=VARCHAR}, 
      #{sortId,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}, #{createUserId,jdbcType=INTEGER}, 
      #{lastUpdateUserId,jdbcType=INTEGER}, #{createDatetime,jdbcType=TIMESTAMP,typeHandler=org.apache.ibatis.type.InstantTypeHandler}, 
      #{lastUpdateDatetime,jdbcType=TIMESTAMP,typeHandler=org.apache.ibatis.type.InstantTypeHandler}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shop.primary.entity.Permission" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ky_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="description != null" >
        description,
      </if>
      <if test="permissionName != null" >
        permission_name,
      </if>
      <if test="permissionSign != null" >
        permission_sign,
      </if>
      <if test="sortId != null" >
        sort_id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="lastUpdateUserId != null" >
        last_update_user_id,
      </if>
      <if test="createDatetime != null" >
        create_datetime,
      </if>
      <if test="lastUpdateDatetime != null" >
        last_update_datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null" >
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionSign != null" >
        #{permissionSign,jdbcType=VARCHAR},
      </if>
      <if test="sortId != null" >
        #{sortId,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateUserId != null" >
        #{lastUpdateUserId,jdbcType=INTEGER},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP,typeHandler=org.apache.ibatis.type.InstantTypeHandler},
      </if>
      <if test="lastUpdateDatetime != null" >
        #{lastUpdateDatetime,jdbcType=TIMESTAMP,typeHandler=org.apache.ibatis.type.InstantTypeHandler},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shop.primary.entity.PermissionExample" resultType="java.lang.Integer" >
    select count(*) from ky_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ky_permission
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionName != null" >
        permission_name = #{record.permissionName,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionSign != null" >
        permission_sign = #{record.permissionSign,jdbcType=VARCHAR},
      </if>
      <if test="record.sortId != null" >
        sort_id = #{record.sortId,jdbcType=INTEGER},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.lastUpdateUserId != null" >
        last_update_user_id = #{record.lastUpdateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createDatetime != null" >
        create_datetime = #{record.createDatetime,jdbcType=TIMESTAMP,typeHandler=org.apache.ibatis.type.InstantTypeHandler},
      </if>
      <if test="record.lastUpdateDatetime != null" >
        last_update_datetime = #{record.lastUpdateDatetime,jdbcType=TIMESTAMP,typeHandler=org.apache.ibatis.type.InstantTypeHandler},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ky_permission
    set id = #{record.id,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      permission_name = #{record.permissionName,jdbcType=VARCHAR},
      permission_sign = #{record.permissionSign,jdbcType=VARCHAR},
      sort_id = #{record.sortId,jdbcType=INTEGER},
      version = #{record.version,jdbcType=INTEGER},
      create_user_id = #{record.createUserId,jdbcType=INTEGER},
      last_update_user_id = #{record.lastUpdateUserId,jdbcType=INTEGER},
      create_datetime = #{record.createDatetime,jdbcType=TIMESTAMP,typeHandler=org.apache.ibatis.type.InstantTypeHandler},
      last_update_datetime = #{record.lastUpdateDatetime,jdbcType=TIMESTAMP,typeHandler=org.apache.ibatis.type.InstantTypeHandler}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.primary.entity.Permission" >
    update ky_permission
    <set >
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null" >
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionSign != null" >
        permission_sign = #{permissionSign,jdbcType=VARCHAR},
      </if>
      <if test="sortId != null" >
        sort_id = #{sortId,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateUserId != null" >
        last_update_user_id = #{lastUpdateUserId,jdbcType=INTEGER},
      </if>
      <if test="createDatetime != null" >
        create_datetime = #{createDatetime,jdbcType=TIMESTAMP,typeHandler=org.apache.ibatis.type.InstantTypeHandler},
      </if>
      <if test="lastUpdateDatetime != null" >
        last_update_datetime = #{lastUpdateDatetime,jdbcType=TIMESTAMP,typeHandler=org.apache.ibatis.type.InstantTypeHandler},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.primary.entity.Permission" >
    update ky_permission
    set description = #{description,jdbcType=VARCHAR},
      permission_name = #{permissionName,jdbcType=VARCHAR},
      permission_sign = #{permissionSign,jdbcType=VARCHAR},
      sort_id = #{sortId,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      last_update_user_id = #{lastUpdateUserId,jdbcType=INTEGER},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP,typeHandler=org.apache.ibatis.type.InstantTypeHandler},
      last_update_datetime = #{lastUpdateDatetime,jdbcType=TIMESTAMP,typeHandler=org.apache.ibatis.type.InstantTypeHandler}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>